<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Quiz</h1>
    <p>Welcome to Quiz</p>
  </body>
</html>
